@media print
{
  .no-print, .no-print *,
  .handle, .handle *
  {
      display: none !important;
  }
  .in-print {
    display: block  !important;
  }

  .vdr {
    border: 10px solid white !important;
  }

  .bottom {
    /* align-items:center; */
  }
  body {
    /* transform: scale(.98); */
    margin: 10px;
    zoom: 60%
  }

  #CollageDiff #cuts {
    align-content: flex-start;
    transform-origin: top left;
    width: 180%;
    transform: scale(.5);
  }
}
